# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
instance/
*.log
local_settings.py
db.sqlite3*

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Directory for input data
data/

# Node stuff
# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
npm-debug.log
testem.log
/frontend/typings

# System Files
.DS_Store
Thumbs.db
