[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
podcast-log = {editable = true, path = "."}

[dev-packages]
black = "*"
twine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
