[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
fabric3 = "*"
mypy = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-docstyle = "*"
pytest-flake8 = "*"
pytest-mypy = "*"

[packages]
feedparser = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-table = "*"
flask-wtf = "*"
marshmallow = "==3.0.0rc8"
psycopg2 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
