<table class="table">
  <tr>
    <td>Progress:</td>
    <td>{{ statistics.progress }}</td>
  </tr>
  <tr>
    <td>In Progress:</td>
    <td>{{ statistics.num_in_progress }}</td>
  </tr>
  <tr>
    <td>Skipped:</td>
    <td>{{ statistics.num_skipped }}</td>
  </tr>
  <tr>
    <td>Ignored:</td>
    <td>{{ statistics.num_ignored }}</td>
  </tr>
  <tr>
    <td>Number of episodes:</td>
    <td>{{ statistics.num_episodes }}</td>
  </tr>
  <tr>
    <td>Time listened:</td>
    <td>{{ statistics.time_listened }}</td>
  </tr>
</table>
