<div *ngIf="podcast$ | async as podcast">

  <div class="row">
    <div class="col-sm-1">
      <img src="{{ podcast.image_url }}" style="max-width:100px" alt="">
    </div>
    <div class="col-sm-7">
      <div style="margin-bottom: 10px;">
        <a routerLink="/podcast/{{podcast.id}}" class="h1">{{ podcast.title }}</a>
        <a href="">(Edit)</a>
      </div>
      <div>{{ podcast.summary }}</div>
    </div>

    <app-statistics-table [statistics]="podcast.statistics" class="col-sm-4 table-container">
    </app-statistics-table>
  </div>

  <div class="col-sm-12">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Episode</th>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let episode of podcast.episodes">
        <td><img src="{{ episode.image_url }}" alt="Podcast image" class="img-episode-list"></td>
        <td>{{ episode.episode_number }}</td>
        <td>{{ episode.title }}</td>
        <td>{{ episode.publication_timestamp | date }}</td>
        <td>{{ episode.duration }}</td>
        <td>{{ episode.description }}</td>
        <td>{{ episode.status }}</td>
        <td><a href="">(Edit)</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
