<div *ngIf="podcast$ | async as podcast">

<p>
  {{podcast.title}}
</p>

<div class="col-sm-12">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Podcast</th>
        <th>Episode</th>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let episode of podcast.episodes">
        <td><img src="{{ episode.image_url }}" alt="Podcast image" class="img-episode-list"></td>
        <td>{{ episode.episode_number }}</td>
        <td>{{ episode.title }}</td>
        <td>{{ episode.publication_timestamp | date }}</td>
        <td>{{ episode.duration }}</td>
        <td>{{ episode.description }}</td>
        <td>{{ episode.status }}</td>
        <td><a href="">(Edit)</a></td>
      </tr>
    </tbody>
  </table>
</div>

</div>
