{% extends "base.html" %}

{% block episode_status_filter %}
<li class="divider-vertical"></li>
<li><a href="{{ url_for('main.episode_list') }}"
       class="{% if status == 'all' %}active{% endif %}">All</a>
</li>
<li><a href="{{ url_for('main.episode_list', status='queued') }}"
       class="{% if status == 'queued' %}active{% endif %}">Queued</a>
</li>
<li><a href="{{ url_for('main.episode_list', status='skipped') }}"
       class="{% if status == 'skipped' %}active{% endif %}">Skipped</a>
</li>
<li><a href="{{ url_for('main.episode_list', status='ignored') }}"
       class="{% if status == 'ignored' %}active{% endif %}">Ignored</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
      {{ table }}
  </div>
</div>
{% endblock %}
