[Unit]
Description=Gunicorn application server running {{ application_name }}

[Service]
Restart=on-failure
User={{ username }}
WorkingDirectory={{ deploy_dir }}
EnvironmentFile={{ deploy_dir }}/.env

#ExecStart={{ deploy_dir }}/venv/bin/gunicorn --bind unix:/tmp/podcast_log.sock -m 007 podcast_log.wsgi:app
ExecStart={{ deploy_dir }}/venv/bin/gunicorn --bind localhost:{{ port }} podcast_log.wsgi:app

[Install]
WantedBy=multi-user.target
