{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block episode-status-filter %}
<li class="divider-vertical"></li>
<li><a href="{% url 'podcast-detail' podcast.id %}"
       class="{% if status == 'all' %}active{% endif %}">All</a>
</li>
<li><a href="{% url 'podcast-detail' pk=podcast.id status='queued'%}"
       class="{% if status == 'queued' %}active{% endif %}">Queued</a>
</li>
{% endblock %}

{% block update-button %}
<li><a href="{% url 'update-podcast' podcast.id %}">Update Podcast</a></li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-1">
    <img src="{{ podcast.image_url }}" style="max-width:100px">
  </div>
  <div class="col-sm-7">
    <div>
      <h1><a href="{% url 'podcast-detail' podcast.id %}">{{ podcast.title }}</a></h1>
      <a href="{% url 'edit-podcast' pk=podcast.id %}">(Edit)</a>
    </div>
    <div>{{ podcast.summary }}</div>
  </div>
  <div class="col-sm-4 table-container">
    <table class="table">
      <tr>
        <td>Progress:</td>
        <td>{{ podcast.statistics.progress }}</td>
      </tr>
      <tr>
        <td>In Progress:</td>
        <td>{{ podcast.statistics.num_in_progress }}</td>
      </tr>
      <tr>
        <td>Skipped:</td>
        <td>{{ podcast.statistics.num_skipped }}</td>
      </tr>
      <tr>
        <td>Ignored:</td>
        <td>{{ podcast.statistics.num_ignored }}</td>
      </tr>
      <tr>
        <td>Number of episodes:</td>
        <td>{{ podcast.statistics.num_episodes }}</td>
      </tr>
      <tr>
        <td>Time listened:</td>
        <td>{{ podcast.statistics.time_listened }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="{% url 'edit-episode-statuses' %}" method="post">
      {% csrf_token %}
      {% render_table table %}
    </form>
  </div>
</div>

{% endblock %}
