{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

<div class="row">
  <div class="col-sm-1">
    <img src="{{ podcast.image_url }}" style="max-width:100px">
  </div>
  <div class="col-sm-7">
    <div>
      <h1>{{ podcast.title }}</h1>
      <a href="{% url 'edit-podcast' pk=podcast.id %}">(Edit)</a>
    </div>
    <div>{{ podcast.summary }}</div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% render_table table %}
  </div>
</div>

{% endblock %}
